<div class="container">

  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col-xs-3" flow-init="{ singleFile:true }" flow-file-added="added($file,$event)" flow-drop>
      <h4 style="font-weight: bold;">Profilbild:</h4>
      <div class="thumbnail">
          <img id="image" ng-hide="(vm.user.image === null)" ng-src="{{ (vm.user.image && vm.user.image != '') && 'userimages/'+vm.user.image || 'images/Download.jpg' }}" alt="Image for {{ vm.user.firstname }}">
      </div>
    </div>

    <div class="col-xs-7" style="padding-left:5em;">
      <br>
      <h4 style="font-weight: bold;">Profilinfos:</h4>
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
          <tr>
            <td>Vorname:</td>
            <td>{{vm.user.firstname}}</td>
          </tr>
          <tr>
            <td>Nachname:</td>
            <td>{{vm.user.lastname}}</td>
          </tr>
          <tr>
            <td>e-mail:</td>
            <td>{{vm.user.email}}</td>
          </tr>
          <tr>
            <td>Username:</td>
            <td>{{vm.user.username}}</td>
          </tr>
          <tr>
            <td>Punktzahl:</td>
            <td>{{vm.user.points}}</td>
          </tr>
          <tr>
            <td>registriert seit:</td>
            <td>{{vm.user.registrDate}}</td>
          </tr>
          <tr ng-hide="(vm.user.birthday == 'NaN.NaN.NaN' ||vm.user.birthday == '1.1.1970')">
            <td>Geburtstag:</td>
            <td>{{vm.user.birthday}}</td>
          </tr>
          <tr ng-hide="(vm.user.info == null || vm.user.info == '' )">
            <td>Information:</td>
            <td>{{vm.user.info}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-1" style="padding-right: 10em"> <!-- Persönliche Daten  -->
      <br>
      <br>
      <a class="btn btn-primary" role="button" href="/profile">{{'Profil bearbeiten' | translate}}
      </a>
    </div>

      

</div>
</div>
