<div class="container">

  <div class="row">
    <br>
    <br>
    <br>
    <br>
    <div class="col-xs-3" flow-init="{ singleFile:true }" flow-file-added="added($file,$event)" flow-drop>
      <div class="thumbnail">
<!--        <img id="image" ng-hide="(!vm.user.image || vm.user.image === '')" ng-src="{{ (vm.user.image && vm.user.image != '') && 'userimages/'+vm.user.image || 'images/placeholder.png' }}" alt="Image for {{ vm.user.firstname }}">-->
          <img id="image" ng-show="(!vm.user.image || vm.user.image == '')" ng-src="{{ (vm.user.image && vm.user.image != '') && 'userimages/'+vm.user.image || 'images/Download.jpg' }}" alt="Image for {{ vm.user.firstname }}">
      </div>
    </div>
    <div class="col-xs-3">
      <h3>{{'EDIT_IMAGE'|translate}}</h3>
      {{'EDIT_IMAGEINFO'|translate}}
      <div flow-init="{singleFile:true}" flow-file-added="flowFileAdded($file,$event)" flow-drop>
        <div class="thumbnail">
          <img ng-src="/userimages/{{vm.user.image}}" ng-hide="$flow.files.length || !vm.user.image" alt="Image for {{ vm.user.firstname || 'Filter' }}">
          <img id="flowUploadImage" flow-img="$flow.files[0]">
        </div>
        <div>
          <span class="btn btn-primary" flow-btn>{{ 'SETTINGS_SELECTIMAGE' | translate }}</span>
          <p>{{ 'SETTINGS_IMAGE_RESTRICTIONS' | translate }}</p>
          <button type="submit" class="btn btn-success" ng-click="vm.saveImage()">Save</button>
        </div>
      </div>
    </div>
    <div class="col-xs-8"  > <!-- Persönliche Daten  -->

         <a href="/profile">
     <span class="glyphicon glyphicon glyphicon-cog"> </span> {{'Profil bearbeiten' | translate}}
    </a>

      <p>Vorname: {{vm.user.firstname}}</p>
      <p>Nachname: {{vm.user.lastname}}</p>
      <p>e-mail: {{vm.user.email}}</p>
      <p>Username: {{vm.user.username}}</p>
      <p>Punktzahl: {{vm.user.points}}</p>
      <p>Geburtstag: {{vm.user.birthday}}</p>
      <p>Information: {{vm.user.info}}</p>



    </div>
      <!--
    <a href="/profile" class="btn btn-link">Profil bearbeiten</a>
    <div class="col-xs-1">
    // Einstellungen/Bei Fremdprofilen: Abonnieren-Button
    <img src="../images/Zahnrad.png" style="width: 70%; align: right">
    </div>
    -->

</div>
</div>
