<div id="sidebar" style="background-position: 0px -5px;">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h3>
        {{'LOGIN'|translate}}
        <a ui-sref="explore.map"><i class="fa fa-times pull-right close" ng-click="closeSidebar()" tooltip="{{'CLOSESIDEBAR' | translate}}" tooltip-trigger tooltip-placement="bottom"></i></a>
      </h3>
    </div>
  </div>
  <form ng-submit="vm.onSubmit()">
  <div class="col-lg-10">
    <div class="input-group">
      <label for="username">{{ "USERNAME" | translate }}</label>
      <input id="username" type="text" class="form-control" placeholder="Enter Username" ng-model="vm.credentials.username">
    </div>
<br>
         <div class="input-group">
      <label for="password">{{ "PASSWORD" | translate }}</label>
      <input id="password" type="password" class="form-control" placeholder="Enter Password" ng-model="vm.credentials.password">
    </div>
    <br>

    <button type= "submit" class= "btn btn-default">Login</button>
  <a href="/userregister" class="btn btn-link">Register</a>
        </div>


</form>

</div>


