<div class="container" style="padding-top: 75px">
  <div class="row">
    <div class="col-md-8">
      <h2>Finde den passenden Ort zu den Daten
         <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">How to play</button>
          <div id="myModal" class="modal fade" role="dialog">
                 <div class="modal-dialog">
                     <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">How to Play</h4>
                         </div>
                         <div class="modal-body">
                             <p>1. Click on the position where you think the data came from<br>
                                2. Click the Tick Button to confirm your choice<br>
                                3. Press the Reload Button to load a new Box<br>
                                4. To see the leaderboard, just cklick the link below the map<br>
                                5. If you don't want to play anymore just leave the site. Your points will be saved automatically
                             </p>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                     </div>

                 </div>
             </div>
          <div id="myModal3" class="modal fade" role="dialog">
                 <div class="modal-dialog">
                     <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">NEUE Auszeichnung!</h4>
                         </div>
                         <div class="modal-body" >
                             <p id="new_points" ></p>
                         <div class="form-group text-center">
                            
                             <img height="200" width="200" id="new_badge" src='images/second.png' alt="Badge for {{ vm.user.firstname }}"> </div> </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                         </div>
                     </div>

                 </div>
             </div>
          <div id="myModal2" class="modal fade" role="dialog">
                 <div class="modal-dialog">
                     <div class="modal-content">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h3>The Best 10 from the Sensebox Game</h3>
                         </div>
                         <div class="modal-body">
                             <table class="table table-striped">
                                 <thead>
                                     <tr>
                                         <th>Rang</th>
                                         <th>Username</th>
                                         <th>Punkte</th>
                                     </tr>
                                 </thead>
                                 <tfoot>
                                     <tr ng-repeat="user in vm.users | orderBy : '-points' | limitTo: 10" ng-style="vm.user.username === user.username ? {'background-color': 'lightgreen'} : {}">
                                         <td>{{$index +1}}</td>
                                         <td>{{user.username}}</td>
                                         <td>{{user.points}}</td>
                                     </tr>
                                 </tfoot>
                             </table>
                         </div>
                 
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
                     </div>
              </div>
          </div>
        </h2>
        
      <div id="mapid" style="height: 550px">{{map}}</div>
      <br>
      <br>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" id="myBtn">The Best <big>10</big></button>
        <button type="button" class="btn btn-info btn-lg" ng-click="test()" ui-sref="leaderboard" >Show Leaderboard</button>
      </div>

    <div class="container"  style="padding-top: 10px">
      <!-- Example row of columns -->
      <!-- Trigger the modal with a button   data-target="#myModal2"  -->


      <div class="row" style ="padding-top : 20px">
          <div class="col-md-4">
          <!-- Panels with data -->
              <uib-alert type="warning" ng-show="vm.test">{{'PLEASE_WAIT_DATA'|translate}} <img id="mySpinner" src="/images/ajax-loader.gif" /></uib-alert>
              <div class="panel panel-default" ng-repeat="b in box">
                  <div class="panel-heading">{{b.title}}</div>
                  <div class="panel-body">{{b.value}} {{b.unit}}
              <p>gemessen am: {{b.lastMeasurement}}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /container -->
  </div>
    
    
    
  <hr>
  <footer>
    <p>&copy; 2016 Höltgen-Qiu Inc.</p>
  </footer>
</div>
<!-- /container -->
<!-- Bootstrap core JavaScript
